{% extends "navbar.html" %} 
{% block content %} 
{% block title %}{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="card mb-3">
        <img src="print-211454006.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title" align="center">About me</h2>
          <h5 class="card-text">Bloggy is created by Hauwa Ibrahim. A software engineering student at AltSchool Africa currently learning backend engineering(Python)</h5>
          <p class="card-text">
            <h5 class="text-muted">You can reach me out on: <br> <a href="/twitter.com/hauwa_dev"class="card-link"> Twitter </a><br><a href="/umeey25@gmail.com"class="card-link"> Gmail</a></h5></p>
        </div>
</body>

</html>
{% endblock %}